# Python
__pycache__/
*.py[cod]
*.pkl
*.pt

# Virtual environments
venv/
*/venv/

# Training artifacts and results
client/job_artifacts/
client/result/

# PyCharm / VSCode project settings
.idea/
.vscode/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db